<!DOCTYPE html>
html(lang="en")
head
	block meta
		include ./_partials/_meta
	block title
		title= t("tusga")
	block css
			
body
	section.page-wrapper
		header.header
			block header
				include ./_partials/_header
		
		section.container
			block container
		
		footer.footer
			block footer
	
	block js-footer
		include ./_partials/_js-footer
