@require '../../base'
@require './_partials/_mixins'

border-dotted()
  border: 4px dotted #ccc

.before-container
  height: 300px
  margin-top: 70px
  center(100%)
  border-dotted()

.row
  margin: 6px 0
  &:last-child
    margin-bottom: 0
  > div
    height: 50px
    border-dotted()
    &:not(:first-child,:last-child)
      padding-right: 7px
      padding-left: 7px
