.btn
  text-decoration: none
  display: inline-flex
  align-items: center
  background-color: button-default-bg-color
  color: button-default-color
  font-weight: 900
  padding: 10px
  default-border-radius()
  text-transform: uppercase
  box-shadow: 0px 5px 0px 0px darken(button-default-bg-color, 20%)
  box-sizing: border-box
  default-transition()
  font-size: button-font-size
  .fa
    margin-right: 8px
    font-size: button-icon-font-size
  &:active
    box-shadow: 0px 2px 0px 0px darken(button-default-bg-color, 25%)
    transform: translateY(3px)

.inline-list
  .list-item
    display: inline-block
    margin: 0 10px

.overlay
  position: fixed
  height: 100%
  width: 100%
  left: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
  display: none
