default-border-radius()
  border-radius: 3px

default-transition()
  transition: all 0.1s ease

slow-transition()
  transition: all 0.5s ease

side-box-shadow()
  box-shadow: 2px 0px 2px #353535

bottom-box-shadow()
  box-shadow: 0px 2px 2px #353535

logo-style()
  font-size: 28px
  font-weight: 900
  float: left
  color: main-color
