font = 'Lato', sans-serif
title-font-size = 28px
font-size = 14px
main-color = #4D1099
_grey = #ededed
link-color = #000

header-bg-color = _grey
menu-toggle-color = main-color

button-default-bg-color = _grey
button-default-color = main-color
button-font-size = 14px
button-icon-font-size = 22px

breakpoint-tablet = 860px
breakpoint-smartphone = 520px
