div.menu-header
  div.logo
    = 'Qettal'
  div.close
    = t('close')
    i.fa.fa-times
div.menu-body
  nav.main-menu
    ul.menu-list
      li.menu-item
        a(href="#")= t('menu.home')
      li.menu-item
        a(href="#")= t('menu.home2')
      li.menu-item
        a(href="#")= t('menu.home3')
